# 1.

In [2]:
import numpy as np
import pandas as pd
import zipfile
import itertools
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [8]:
zf = zipfile.ZipFile('news.zip')
df = pd.read_csv(zf.open('news.csv'))

In [9]:
df.shape

(6335, 4)

In [10]:
df.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [11]:
labels = df.label

In [12]:
labels.value_counts()

REAL    3171
FAKE    3164
Name: label, dtype: int64

In [13]:
x_train, x_test, y_train, y_test = train_test_split(df['text'], labels, test_size=0.3, random_state=10)

In [14]:
tfidf_vectorizer=TfidfVectorizer(stop_words='english', max_df=0.7)
#Fit and transform train set, transform test set
tfidf_train=tfidf_vectorizer.fit_transform(x_train) 
tfidf_test=tfidf_vectorizer.transform(x_test)

In [15]:
pac=PassiveAggressiveClassifier(max_iter=50)
pac.fit(tfidf_train,y_train)
#Predict on the test set and calculate accuracy
y_pred=pac.predict(tfidf_test)
score=accuracy_score(y_test,y_pred)
print(f'Accuracy: {round(score*100,2)}%')

Accuracy: 94.27%

In [16]:
confusion_matrix(y_test,y_pred, labels=['FAKE','REAL'])

array([[876,  44],
       [ 65, 916]], dtype=int64)

# 2.

In [43]:
zf = zipfile.ZipFile('train.csv.zip')
df1 = pd.read_csv(zf.open('train.csv'))

In [44]:
df1.shape

(20800, 5)

In [45]:
df1.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [46]:
df1.dropna(inplace=True)
df1

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1
...,...,...,...,...,...
20795,20795,Rapper T.I.: Trump a ’Poster Child For White S...,Jerome Hudson,Rapper T. I. unloaded on black celebrities who...,0
20796,20796,"N.F.L. Playoffs: Schedule, Matchups and Odds -...",Benjamin Hoffman,When the Green Bay Packers lost to the Washing...,0
20797,20797,Macy’s Is Said to Receive Takeover Approach by...,Michael J. de la Merced and Rachel Abrams,The Macy’s of today grew from the union of sev...,0
20798,20798,"NATO, Russia To Hold Parallel Exercises In Bal...",Alex Ansary,"NATO, Russia To Hold Parallel Exercises In Bal...",1
20799,20799,What Keeps the F-35 Alive,David Swanson,"David Swanson is an author, activist, journa...",1

In [47]:
labels1 = df1.label

In [48]:
labels1.value_counts()

0    10361
1     7924
Name: label, dtype: int64

In [49]:
x_train1, x_test1, y_train1, y_test1 = train_test_split(df1['text'], labels1, test_size=0.3, random_state=10)

In [50]:
tfidf_vectorizer1 = TfidfVectorizer(stop_words='english', max_df=0.7)
#Fit and transform train set, transform test set
tfidf_train1 = tfidf_vectorizer1.fit_transform(x_train1) 
tfidf_test1 = tfidf_vectorizer1.transform(x_test1)

In [51]:
pac1 = PassiveAggressiveClassifier(max_iter=50)
pac1.fit(tfidf_train1,y_train1)
#Predict on the test set and calculate accuracy
y_pred1 = pac1.predict(tfidf_test1)
score1 = accuracy_score(y_test1,y_pred1)
print(f'Accuracy: {round(score1 * 100, 2)}%')

Accuracy: 96.34%

In [52]:
tfidf_test1

<5486x134701 sparse matrix of type '<class 'numpy.float64'>'
	with 1435525 stored elements in Compressed Sparse Row format>

In [53]:
y_pred1

array([0, 0, 1, ..., 1, 0, 0], dtype=int64)

In [125]:
x_train1

18864    Hillary Clinton said on Thursday that the hack...
15410       France  —   Two years ago, Elisabeth Lavard...
11074    Comments \nDemocratic Rep. Elijah Cummings (D-...
2164     The president of the American Pastors Network ...
7302     LOS ANGELES  —   Two men were killed in a shoo...
                               ...
10677    Russia’s first driverless electronic bus unvei...
8306       I think if a woman from the age of 50 has a ...
20182    LOCKHART, Tex.  —   A   balloon carrying 16 pe...
8308     ROME (AP)  —   Italian rescue ships have pluck...
20120    BARCELONA, Spain  —   A year ago, Oscar Camps,...
Name: text, Length: 12799, dtype: object

In [126]:
x_test1

13753    The eurosceptic,   immigration Sweden Democrat...
3192     To grab the attention of freshmen at the stude...
10452    Secrets of the US Election: Assange Talks to P...
12908    Hillary Clinton: “I’m now back to being an act...
1999     Search form Search From Bad to Worse : Obama’s...
                               ...
13704    A new web ad from Americans for Limited Govern...
20678    Email \nAs Janet Reno formally ended her publi...
10226    Once again, the repression of those against th...
15666    Conservative firebrand Ann Coulter had a tweet...
13300    For someone who promoted his management skills...
Name: text, Length: 5486, dtype: object

In [127]:
y_train1

18864    0
15410    0
11074    1
2164     0
7302     0
        ..
10677    1
8306     1
20182    0
8308     0
20120    0
Name: label, Length: 12799, dtype: int64

In [128]:
y_test1

13753    0
3192     0
10452    1
12908    0
1999     1
        ..
13704    0
20678    1
10226    1
15666    0
13300    0
Name: label, Length: 5486, dtype: int64

# 3.

In [4]:
zf1 = zipfile.ZipFile('train.csv.zip')
df4 = pd.read_csv(zf1.open('train.csv'))

In [5]:
df4.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [6]:
df4.dropna(inplace=True)
df4

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1
...,...,...,...,...,...
20795,20795,Rapper T.I.: Trump a ’Poster Child For White S...,Jerome Hudson,Rapper T. I. unloaded on black celebrities who...,0
20796,20796,"N.F.L. Playoffs: Schedule, Matchups and Odds -...",Benjamin Hoffman,When the Green Bay Packers lost to the Washing...,0
20797,20797,Macy’s Is Said to Receive Takeover Approach by...,Michael J. de la Merced and Rachel Abrams,The Macy’s of today grew from the union of sev...,0
20798,20798,"NATO, Russia To Hold Parallel Exercises In Bal...",Alex Ansary,"NATO, Russia To Hold Parallel Exercises In Bal...",1
20799,20799,What Keeps the F-35 Alive,David Swanson,"David Swanson is an author, activist, journa...",1

In [7]:
labels4 = df4.label

In [8]:
labels4.value_counts()

0    10361
1     7924
Name: label, dtype: int64

In [9]:
zf = zipfile.ZipFile('test.csv.zip')
df2 = pd.read_csv(zf.open('test.csv'))

In [10]:
df2.head()

,id,title,author,text
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning..."
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different..."
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...

In [11]:
df2.shape

(5200, 4)

In [12]:
df2

,id,title,author,text
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning..."
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different..."
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...
...,...,...,...,...
5195,25995,The Bangladeshi Traffic Jam That Never Ends - ...,Jody Rosen,Of all the dysfunctions that plague the world’...
5196,25996,John Kasich Signs One Abortion Bill in Ohio bu...,Sheryl Gay Stolberg,WASHINGTON — Gov. John Kasich of Ohio on Tu...
5197,25997,"California Today: What, Exactly, Is in Your Su...",Mike McPhate,Good morning. (Want to get California Today by...
5198,25998,300 US Marines To Be Deployed To Russian Borde...,NaN,« Previous - Next » 300 US Marines To Be Deplo...
5199,25999,"Awkward Sex, Onscreen and Off - The New York T...",Teddy Wayne,Perhaps you’ve seen the new TV series whose pi...

In [14]:
l = df2.loc[pd.isna(df2['text']), :].index
l

Int64Index([589, 626, 978, 2257, 2892, 4736, 5092], dtype='int64')

In [15]:
d = df2.drop(l)
d

,id,title,author,text
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning..."
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different..."
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...
...,...,...,...,...
5195,25995,The Bangladeshi Traffic Jam That Never Ends - ...,Jody Rosen,Of all the dysfunctions that plague the world’...
5196,25996,John Kasich Signs One Abortion Bill in Ohio bu...,Sheryl Gay Stolberg,WASHINGTON — Gov. John Kasich of Ohio on Tu...
5197,25997,"California Today: What, Exactly, Is in Your Su...",Mike McPhate,Good morning. (Want to get California Today by...
5198,25998,300 US Marines To Be Deployed To Russian Borde...,NaN,« Previous - Next » 300 US Marines To Be Deplo...
5199,25999,"Awkward Sex, Onscreen and Off - The New York T...",Teddy Wayne,Perhaps you’ve seen the new TV series whose pi...

In [16]:
df3 = pd.read_csv('submit.csv')
df3

         id  label
0     20800      0
1     20801      1
2     20802      0
3     20803      1
4     20804      1
...     ...    ...
5195  25995      0
5196  25996      1
5197  25997      0
5198  25998      1
5199  25999      0

[5200 rows x 2 columns]

In [17]:
d1 = df3.drop(l)
d1

         id  label
0     20800      0
1     20801      1
2     20802      0
3     20803      1
4     20804      1
...     ...    ...
5195  25995      0
5196  25996      1
5197  25997      0
5198  25998      1
5199  25999      0

[5193 rows x 2 columns]

In [26]:
x_train2, x_test2 = df4['text'], d['text'] 
y_train2, y_test2 = labels4, d1['label']

In [27]:
x_train2

0        House Dem Aide: We Didn’t Even See Comey’s Let...
1        Ever get the feeling your life circles the rou...
2        Why the Truth Might Get You Fired October 29, ...
3        Videos 15 Civilians Killed In Single US Airstr...
4        Print \nAn Iranian woman has been sentenced to...
                               ...
20795    Rapper T. I. unloaded on black celebrities who...
20796    When the Green Bay Packers lost to the Washing...
20797    The Macy’s of today grew from the union of sev...
20798    NATO, Russia To Hold Parallel Exercises In Bal...
20799      David Swanson is an author, activist, journa...
Name: text, Length: 18285, dtype: object

In [28]:
y_train2

0        1
1        0
2        1
3        1
4        1
        ..
20795    0
20796    0
20797    0
20798    1
20799    1
Name: label, Length: 18285, dtype: int64

In [29]:
x_test2

0       PALO ALTO, Calif.  —   After years of scorning...
1       Russian warships ready to strike terrorists ne...
2       Videos #NoDAPL: Native American Leaders Vow to...
3       If at first you don’t succeed, try a different...
4       42 mins ago 1 Views 0 Comments 0 Likes 'For th...
                              ...
5195    Of all the dysfunctions that plague the world’...
5196    WASHINGTON  —   Gov. John Kasich of Ohio on Tu...
5197    Good morning. (Want to get California Today by...
5198    « Previous - Next » 300 US Marines To Be Deplo...
5199    Perhaps you’ve seen the new TV series whose pi...
Name: text, Length: 5193, dtype: object

In [30]:
y_test2

0       0
1       1
2       0
3       1
4       1
       ..
5195    0
5196    1
5197    0
5198    1
5199    0
Name: label, Length: 5193, dtype: int64

In [35]:
tfidf_vectorizer2 = TfidfVectorizer(stop_words='english', max_df=0.7)
#Fit and transform train set, transform test set
tfidf_train2 = tfidf_vectorizer2.fit_transform(x_train2) 
tfidf_test2 = tfidf_vectorizer2.transform(x_test2)

In [59]:
pac2 = PassiveAggressiveClassifier(max_iter=100)
pac2.fit(tfidf_train2, y_train2)
#Predict on the test set and calculate accuracy
y_pred2 = pac2.predict(tfidf_test2)
score2 = accuracy_score(y_test2, y_pred2)
print(f'Accuracy: {round(score2 * 100, 2)}%')

Accuracy: 63.03%

In [62]:
confusion_matrix(y_test2 ,y_pred2 , labels=[1,0])

array([[1740, 1114],
       [ 806, 1533]], dtype=int64)